/* 리액트 부트스트랩은 따로 있다 -> 리액트는 다 컴포넌트식이므로 */

body {
  background: url("https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg?w=900&t=st=1711207157~exp=1711207757~hmac=03fbef91a9b018164fd9df99538c0add6bb163ec25ad24a429339357a54cb9f0");
  height: 100vh;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.weather-box {
  background-color: white;
  border: 10px solid green;
  padding: 50px;
}
